body {
	font-family: 'Noto Sans TC', sans-serif;
}

.max-width {
	max-width: 1128px;
	margin: 0 auto;
	padding: 0 20px;
}

.btn {
	display: inline-flex;
	cursor: pointer;
	padding: 12px 32px;
	justify-content: center;
	align-items: center;
	border: solid 1px $primary;
	background: $primary;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	color: #fff;
	border-radius: 27px;
	transition: 0.3s;

	&:hover {
		background: lighten($primary, 10%);
	}
}

.btn-outline {
	border: solid 1px $primary;
	background: #fff;
	color: $primary;

	&:hover, &:active {
		background: lighten($primary, 30%);
	}


	&-selected {
		background-color: $primary;
		color: #fff;

		&:hover, &:active {
			background-color: $primary;
		}
	}
}

.btn-red {
	background-color: $red;
	border: solid 1px $red;

	&:hover {
		background: lighten($red, 10%);
	}
}

.accordion {
	border-radius: 12px;
	box-shadow: 0px 2px 10px #00000014;
	background: #fff;

	&-btn {
		display: flex;
		cursor: pointer;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border-radius: 12px;
		padding: 16px 32px;
		background-color: #fff;
		border: none;
		font-size: 18px;
		line-height: 28px;	

		&::after {
			content: "";
			width: 20px;
			height: 20px;
			background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon_plus.svg");
			background-repeat: no-repeat;
			background-position: center center;
		}
	}		

	&-body {
		display: none;
		line-height: 32px;
		padding: 8px 32px 32px;
		color: $gray;
	}

	h3 {
		font-size: 18px;
		line-height: 28px;
		text-align: left;
	}
}

.selected {
	.accordion-btn {
		transition: 0.2s all ease-in-out;
		color: $primary;
		font-weight: bold;
		
		&::after {
			transition: 0.5s all ease-in-out;
			background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon_minus.svg");
		}
	}
	
}


h1 {
	font-size: 48px;
	line-height: 70px;
	color: $black;
	font-weight: bold;
}

h2 {
	font-size: 32px;
	font-weight: bold;
	line-height: 46px;
	text-align: center;
	color: $black;
}

h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: 46px;
	text-align: center;
	color: $black;
}

nav {
	max-width: 1128px;
	margin: 0 auto;
	padding: 24px 20px;
	// background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		display: inline-block;
		width: 200px;
	}

}

footer {
	.back-to-top {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 72px;
		height: 72px;
		font-family: 'Wendy One', sans-serif;
		font-size: 20px;
		font-weight: bold;
		position: fixed;
		z-index: 999;
		bottom: 32px;
		right: 32px;
		background: $primary;
		color: #fff;
		text-decoration: none;
		border-radius: 50%;
	}

	.reserved {
		p {
			text-align: center;
			padding-top: 16px;
			padding-bottom: 16px;
			background-color: #F5F5F5;
		}
	}
}

.mb-1 {
	margin-bottom: 8px;
}

.mb-2 {
	margin-bottom: 16px;
}

.mb-3 {
	margin-bottom: 24px;
}

.mb-4 {
	margin-bottom: 48px;
}

.mb-5 {
	margin-bottom: 32px;
}

.ta-c {
	text-align: center;
}

.color-primary {
	color: $primary;
}


@media (max-width: 576px) {
	h2 {
		font-size: 28px;
		line-height: 40px;
	}

	h3 {
		font-size: 18px;
		line-height: 26px;
	}

	nav {
		border-bottom: solid 2px $yellow;
		align-items: center;
		padding: 16px 20px;
		background: #fff;

		.logo {
			width: 130px;
		}
	}

	.max-width {
		max-width: 728px;
		margin: 0 auto;
		padding: 0 20px;
	}

	.btn-red {
		padding: 8px 32px;
	}
}