.pricing-header {
    position: relative;
    z-index: 3;
    height: 470px;
    background-color: #F7F9FD;
    border-bottom-left-radius: 300px;
    margin-bottom: 100px;

    .pricing-banner {
        width: 885px;
        height: 559px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/banner.svg");
        background-repeat: no-repeat;
    }
}

.pricing {
    &-wording {
        margin-top: 92px;

        p {
            line-height: 24px;
            color: $black;
        }
    }
}

.plan {
    .userNum {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-bottom: 66px;
    }

    &-container {
        display: flex;
        gap: 16px;
        margin-bottom: 100px;

    }

    &-card {
        width: 100%;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0px 2px 10px #00000014;

        h3 {
            padding: 16px 0;
            border-bottom: solid 1px #efefef;
        }
    }

    &-card-content {
        padding: 32px 24px;

        p {
            color: $black;
            line-height: 24px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        li {
            display: flex;
            gap: 12px;
            align-items: center;
        }

        img {
            width: 20px;
        }
    }

    &-calc {
        display: flex;
        align-items: center;
        gap: 20px;

        .calc {
            width: 50%;
            text-align: center;
            height: 108px;
            padding: 24px 32px;
            background-color: #F5F5F5;
            border-radius: 12px;
        }

        .equal {
            font-size: 29px;
            color: $black;
        }
        
        .title, .unit {
            font-size: 12px;
            line-height: 17px;
        }

        .unit {
            font-weight: bold;
        }

        .num {
            font-size: 32px;
            line-height: 35px;
            margin-right: 8px;
        }
    }

}